h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas  
                    +navTemaItem('text', 'Introducción', 'main.html#page/introduccion/') 
                    +navTemaItem('1', 'Entrada de datos', 'main.html#page/entrada_datos/')
                    +navTemaItem('2', 'Salida de datos', 'main.html#page/salida_datos/')     
                    +navTemaItem('3', 'Instrucciones secuenciales con Python', 'main.html#page/instrucciones_secuenciales/')                     
                    +navTemaItem('question', 'Actividad didáctica', 'main.html#page/actividad/')          
                   
                    
                    