h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 #[strong Cod. 220501096-2]
        p.mb-0 Formular instrucciones de entrada y salida de datos e instrucciones de proceso secuencial, aplicando estándares de codificación en Python.




