.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody
                                  
                tr
                    td CodeProfe. (2020, 3 septiembre). #4 - Entrada y salida de datos estándar en python. YouTube. https://www.youtube.com/watch?v=9JY2JpK3lIA
                    td Video 
                    td 
                        a(href="https://www.youtube.com/watch?v=9JY2JpK3lIA", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver 
                tr
                    td M. (2020, 15 junio). Funciones: ¿Qué son? ¿Cuál es su sintaxis a la hora de invocarlas? Pyromaniac. https://pythones.net/que-son-las-funciones/
                    td Tutorial online
                    td 
                        a(href="https://pythones.net/que-son-las-funciones/", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td Manuel J. Dávila. (2014). Tutorial de Python parte 10 - Entrada de datos input(). YouTube. https://www.youtube.com/watch?v=J1s6rlOvHrw
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=J1s6rlOvHrw ", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td Python Numbers. (s. f.). w3schools.com. https://www.w3schools.com/python/python_numbers.asp
                    td Tutorial online 
                    td 
                        a(href="https://www.w3schools.com/python/python_numbers.asp", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver